html{
  height: 100%
}
.App {
  text-align: center;
}

.nav {
  background-color: coral;
  height: 50px;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  color: black
}

.app-content {
  background-color: #282c34;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; /*align X*/
  font-size: calc(10px + 2vmin);
  color: white;
}

